---
layout: default
---
<!--
<div class="ans dj" style="background-image: url('http://qcdn.huangyanxiang.com/v1/iceland.jpg')">
-->
<div class="ans dj" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"> 

  <div class="by">
    <div class="ant">
      <img class="cu qh" src="{{ "/assets/img/avatar_m.jpg" | relative_url }}">
      <h3 class="anv">{{site.author}}</h3>
      <p class="anu">
        {{ content }}
        {{ site.description }}
      </p>
    </div>
  </div>
  <nav class="anw">
    <ul class="nav ol">
      <li class="active">
        <a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">项目</a>
      </li>
      <li>
        <a href="#links" aria-controls="links" role="tab" data-toggle="tab">超链</a>
      </li>
      <li>
        <a href="#about" aria-controls="about" role="tab" data-toggle="tab">关于我</a>
      </li>
    </ul>
  </nav>
</div>

<div class="by alx tab-content">
  <div class="row tab-pane fade in active" id="projects" role="tabpanel">
    <div class="col-md-12">
      <h2 class="text-center">创建或搜罗的优秀项目</h2>
      <p class="text-center">自己或搜罗的项目待整理和迁移...</p>
      <hr>
    </div>
    <!--
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="thumbnail">
        <a href="http://www.bootcdn.cn/" title="Bootstrap中文网开放CDN服务" target="_blank"><img class="lazy" src="http://static.bootcss.com/www/assets/img/opencdn.png" width="300" height="150" alt="Open CDN"></a>
        <div class="caption">
          <h3>
            <a href="http://www.bootcdn.cn/" title="Bootstrap中文网开放CDN服务" target="_blank">Open CDN</a>
          </h3>
          <p>Bootstrap中文网联合又拍云存储共同推出的开放CDN服务，例如Bootstrap、jQuery等。
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="thumbnail">
        <a href="http://www.jquery123.com/api/" title="jQuery API 中文文档/手册" target="_blank"><img class="lazy" src="http://static.bootcss.com/www/assets/img/jqueryapi.png" width="300" height="150" alt="jQuery API 中文文档/手册"></a>
        <div class="caption">
          <h3> 
            <a href="http://www.jquery123.com/api/" title="jQuery API 中文文档/手册" target="_blank">jQuery 中文手册</a>
          </h3>
          <p>
          根据最新的 jQuery 1.11.x 和 2.1.x 版本翻译的 jQuery API 中文文档/手册。
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="thumbnail">
        <a href="/project/git-guide/index.html" title="Git简易指南" target="_blank"><img class="lazy" src="http://static.bootcss.com/www/assets/img/git-guide.png" width="300" height="150" alt="Git Guide"></a>
        <div class="caption">
          <h3> 
            <a href="/project/git-guide/index.html" title="git简易指南" target="_blank">Git 简易指南</a>
          </h3>
          <p>
          Git 简易指南 -- 帮助你开始使用 git 的简易指南，木有高深内容，;)。
          </p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="thumbnail">
        <a href="/project/icheck-1.x/index.html" title="iCheck" target="_blank"><img class="lazy" src="http://static.bootcss.com/www/assets/img/icheck.png" width="300" height="150" alt="iCheck"></a>
        <div class="caption">
          <h3>
            <a href="/project/icheck-1.x/index.html" title="iCheck" target="_blank">iCheck 增强选框</a>
          </h3>
          <p>
          iCheck让不同浏览器下的复选框（checkboxes）和单选按钮（radio button）更美观、功能更强。
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="thumbnail">
        <a href="/project/grumblejs/index.html" title="气泡形状的提示（Tooltip）控件" target="_blank"><img class="lazy" src="http://static.bootcss.com/www/assets/img/grumblejs.png" width="300" height="150"></a>
        <div class="caption">
          <h3>
            <a href="/p/grumblejs/index.html" title="气泡形状的提示（Tooltip）控件" target="_blank">Grumble.js</a>
          </h3>
          <p>
          一个气泡形状的提示（Tooltip）控件，可以在其围绕的元素周围做360度任意定位。
          </p>
      </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="thumbnail">
        <a href="/project/websafecolors/index.html" title="Web安全色" target="_blank"><img class="lazy" src="http://static.bootcss.com/www/assets/img/websafecolors.png" width="300" height="150"></a>
        <div class="caption">
          <h3>
            <a href="/p/websafecolors/index.html" title="Web安全色" target="_blank">Web安全色</a>
          </h3>
          <p>
          本表中列出的是WEB设计、开发中常用安全色。列于此是为了方便大家参考。
          </p>
        </div>
      </div>
    </div>
    -->
  
  </div>
  <div class="row tab-pane fade" id="links" role="tabpanel">
    <div class="col-md-12">
      <h1>暂无外链哟。</h1>
    </div>
  </div>
  <div class="row tab-pane fade" id="about" role="tabpanel">
    <div class="col-md-12">
      <div class="me-header pull-left"><img class="img-thumbnail" src="{{ "/assets/img/myphoto.jpg" | relative_url }}"  alt="头像"></div>

      <div class="me-info pull-left" style="height: 90px;overflow: hidden;padding-left: 15px;">
        <h4>夕曦 &middot; 90后</h4>
        <p style="color: #999;"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;&nbsp;<a href="http://www.xauat.edu.cn/zh-cn/index.php" target="_blank">西安建筑科技大学</a><br><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;{{site.email}}</p>
      </div>
      <div class="clearfix"></div>
      <hr>
      <a class="col-md-12 btn btn-success hidden printl" href="javascript:alert('此功能纯属摆设！');">打印简历 <span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>
    </div>
    <div class="col-md-12">
      <h5><span class="glyphicon glyphicon-console" aria-hidden="true"></span>&nbsp;&nbsp;个人简介</h5>
      <p style="line-height: 2em;" class="well">
      此处已被打马赛克。。。。
      <!--
        90后程序猿一枚，毕业于一所NB的挖煤大学，学了一门全能的计算机科学与技术专业，胸怀大志，有匡扶正义，振兴中华之心。<br>
        一直以来，坚持“三个代表”重要思想，时刻铭记“八荣八耻”社会主义核心价值观，准备随时为共产主义事业加油呐喊。<br>
        关注时事热点，搜集科技快讯，参与娱乐八卦，珍藏高清种子，分享喜怒哀乐，让每一天都充实而快乐。<br>
        -->
      </p>
      <h5><span class="glyphicon glyphicon-console" aria-hidden="true"></span>&nbsp;&nbsp;求职意向<a class="btn unlock" href="javascript:;"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a></h5>
      <div id="wantjob">
        <p style="line-height: 2em;">
          <span style="color: #999;">此部分为加密数据，请解锁查看。</span>
        </p>
      </div>
      <h5><span class="glyphicon glyphicon-console" aria-hidden="true"></span>&nbsp;&nbsp;职业技能<a class="btn unlock" href="javascript:;"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a></h5>
      <div id="knowlege">
        <p style="line-height: 2em;">
          <span style="color: #999;">此部分为加密数据，请解锁查看。</span>
        </p>
      </div>
      <h5><span class="glyphicon glyphicon-console" aria-hidden="true"></span>&nbsp;&nbsp;工作历程<a class="btn unlock" href="javascript:;"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a></h5>
      <div id="work">
        <p style="line-height: 2em;">
          <span style="color: #999;">此部分为加密数据，请解锁查看。</span>
        </p>
      </div>
      <h5><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp; 如果您有好的想法和建议,欢迎与我联系~</h5>
      <!--
      <h5><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;大家这样评价他</h5>
      <div class="row">
        <div class="col-md-6">
          <blockquote>
            <p>A very smart and lovely boy, has a lot of magic ideas, you would like him.</p>
            <footer>Steven Jobs</footer>
          </blockquote>
        </div>
        <div class="col-md-6">
          <blockquote class="blockquote-reverse">
            <p>家长眼里的好孩子，老师眼里的好学生，朋友眼里的好伙伴，领导眼里的好员工。</p>
            <footer>小明</footer>
          </blockquote>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
